<h2>liste de relative </h2>
 <!--<p-table [value]="relatives" [paginator]="true" [rows]="3">
    <ng-template pTemplate="header">
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </ng-template>



     <ng-template pTemplate="body" let-relative>
        <tr>
            <td>{{relative.firstname}}</td>
            <td>{{relative.lastname}}</td>
            <td>{{relative.email}}</td>
            <td>{{relative.phoneNumber}}</td>
        </tr>

    </ng-template>
</p-table>
 -->

 <table class="table">
      <tbody>
        <tr>
            <td>Index</td>
            <td>Prenom</td>
            <td>Nom</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Action</td>
        </tr>
      <tr *ngFor="let relative of relatives; let i = index;">
        <th scope="row"> {{ i }}</th>
        <td>{{relative.firstname}} </td>
        <td>{{relative.lastname}} </td>
        <td>{{relative.email}} </td>
        <td>{{relative.phoneNumber}} </td>

      </tr>
    </tbody>
</table>

