
<div class="card eticket" [routerLink]="['/eticket', eticket.id]">
    <img [src]="eticket.image" class="card-img-top" style="width: 318px; height: 240px; " alt="">
    <div class="card-body">
        <h5 class="card-title">{{ eticket.name }} </h5>
        <p class= "card-text"> {{ eticket.description.substring(0,30) }} ... </p>

        <div *ngFor= "let currentRate of profilRates">
            <div class= "card-text">
                {{ currentRate.typePrice.substring(currentRate.typePrice.indexOf("_") + 1) }} - {{currentRate.price}}
                
                <p class= "buttons" style="font-size: 20px;">
                    <i class="far fa-minus-square" (click)="remove($event)" *ngIf="numEticketItem > 0"></i>

                    {{ numEticketItem }}

                    <i class="far fa-plus-square" (click)="add($event)"></i>
                </p>

            </div>
        </div>
    
    </div>
</div>