.basket {
    width: 100px;
  }
  .basket i {
    font-size: 3rem;
  }
  .basket .number {
    font-size: 2rem;
    position: relative;
    top: -30px;
    left: -20px;
    padding: 5px;
    background-color: #e3f2fd;
    border-radius: 100%;
  }
  .basket a, .basket a:hover {
    color: #000;
    text-decoration: none;
  }