<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <img src="assets\brand_logo.png" width="64" alt="brand logo">
  </a>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Gestion des contacts
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Liste des relatives</a>
      <a class="dropdown-item" href="#">Creer une relative</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="menuside">
    <ul>

      <li><a routerLink="/listeRelative">Liste des relatives</a> </li>
     <li><a routerLink="/nouveauRelative">Creer une relative</a> </li>
     </ul>
  </div>
  
  <div class="ml-auto">
    <app-basket-icon></app-basket-icon>
  </div>

  <div>
    <app-user-icon></app-user-icon>
  </div>

  <div class="navbar-nav" *ngIf="currentUser">
   <!-- <a class="nav-item nav-link" routerLink="/">Home</a> -->
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
