<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <img src="assets\brand_logo.png" width="64" alt="brand logo">
  </a>
  
  <div class="navbar ml-auto" *ngIf="currentUser">
    <div>
      <app-basket-icon></app-basket-icon>
    </div>

    <div>
      <app-user-icon></app-user-icon>
    </div>

    <div >
      <button class="btn btn-warning" (click)="logout()">Se déconnecter</button>
    </div>
  </div>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
