<div class="card eticket" [routerLink]="['/eticket', eticket.id]">
    <img [src]="eticket.image" class="card-img-top" style="width: 318px; height: 240px; " alt="">
    <div class="card-body">
        <h5 class="card-title">{{ eticket.name }} </h5>
        <p class= "card-text"> {{ eticket.description.substring(0,30) }} ... </p>

        <div *ngFor="let button of AddBasketButton2">

            <div class= "card-text">
                {{ button.typePrice.substring(button.typePrice.indexOf("_") +1) }} - {{ button.price | currency: 'EUR':'symbol':undefined:'fr-FR'}}

                <p class= "buttons" style="font-size: 20px;">
                    <i class="far fa-minus-square" (click)="remove2(button.typePrice, button.price, $event)" *ngIf="button.quantity > 0"></i>

                    {{ button.quantity }}

                    <i class="far fa-plus-square" (click)="add2(button.typePrice, button.price, $event)"></i>
                </p>
            </div>
        </div>
    </div>
</div>
<p>
     <button class="btn btn-primary" type="button" data-toggle="collapse"
     data-target="#collapseExample" aria-expanded="false" aria-controls="collapseDescription">
       Informations
     </button>
   </p>
  <div class="collapse" id="collapseDescription">
    <div class="card card-body">
      {{eticket.description}}
    </div>
</div>
<!--<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content= '{{eticket.description}}'>
  Popover on bottom
</button>  -->

{{eticket.description}}

